# Part 1: Scraping and building the database 
## Part 1.1: Saving the most important html files
So, obviously, this is the part, where I have to think very systemathically, because a good data structure will be helpful in the long term. I will scrape from tabbie first

In [1]:
#Import

import requests                     #This is for scraping
from bs4 import BeautifulSoup       #This is for scraping
import pandas as pd                 #This is for database usage
import numpy as np                  #This is is maths
import matplotlib as plt            #This is for plotting
import random as rand               #This is for making random stuff
import webbrowser                   #This is because we are working on the internet and it might come handy
import os                           #This is for creating folders etc.
import shutil                       #This is for moving folders, not just creating
#In case you need it, use magic: %pylab inline

In [2]:
# Create target Directory for html if don't exist
HTML_files = 'HTML_files_for_Python_SZISZ_besz'
if not os.path.exists(HTML_files):
    os.mkdir(str(HTML_files))
    print("Directory " , HTML_files ,  " Created ")
else:    
    print("Directory " , HTML_files ,  " already exists")

Directory  HTML_files_for_Python_SZISZ_besz  Created

So, our data is EUDC 2015, EUDC 2016, EUDC 2017, EUDC 2018, EUDC 2019, it's time to play with these.

In [3]:
#Link of the tournaments --> This should be the only raw  data? 
EUDC_2015 = "https://www.tabbie.org/Vienna-EUDC-2015/"
EUDC_2016 = "https://www.tabbie.org/warsaw-eudc-/"
EUDC_2017 = "https://www.tabbie.org/talinn-eudc-/"
EUDC_2018 = "https://novisadeudc.herokuapp.com/eudc2018/"
EUDC_2019 = "https://athenseudc.herokuapp.com/athenseudc/"

In [4]:
#Maybe it will be useful to know, if I have a tabbie or tabbiecat? --> that's why I use dict and not list
tabbie_or_tabbiecat = {EUDC_2015 : "tabbie", 
                       EUDC_2016 : "tabbie", 
                       EUDC_2017 : "tabbie", 
                       EUDC_2018 : "tabbycat", 
                       EUDC_2019 : "tabbycat"}

In [36]:
def move_2_project_folder(filename):         #makes a given file to a project folder where I collect all html files
    current_working_directory = os.getcwd()
    shutil.move(current_working_directory+"/"+filename, current_working_directory+"/"+HTML_files+"/"+filename)

        
def writing_html_file_from_source(filename, source):
    file_ = open(filename, "w")
    file_.write(source)
    file_.close()
    print(filename)                          #So, what is our filename? 
    move_2_project_folder(filename)          #It is time to move the html file to a folder created for html files

def save_html(filename, url):
    """
    It saves an html file, to a given string filename, if you give the url, which you want to save. 
    """
    print(url)                                #what is the input url?
    response = requests.get(url)              #request the webpage to be opened for reading
    print(response.status_code)               #hopefully 200 each --> successful download
    html_source = response.content.decode('utf-8')       #decoding the file html to a txt
    writing_html_file_from_source(filename, html_source) #puts the response to the project's html folder as a file
    return response

In [6]:
for core_of_tab in tabbie_or_tabbiecat:
    print(core_of_tab)

https://www.tabbie.org/Vienna-EUDC-2015/
https://www.tabbie.org/warsaw-eudc-/
https://www.tabbie.org/talinn-eudc-/
https://novisadeudc.herokuapp.com/eudc2018/
https://athenseudc.herokuapp.com/athenseudc/

In [8]:
#Getting the html files
overviews = []
teamtabs  = []
roundresults = []

In [9]:
yearcounter = 2015 #Our experiment starts from 2015... Luckyily, EUDC tournaments are named after their host city...
                   #And after the year they do exist. Beware, Budapest EUDC 2024... or 2025? or 2026... Who knows... :D
for core_of_tab in tabbie_or_tabbiecat: #name --> results are on 2 websites, tabbie, or tabbiecat
    """
    I am saving the html files from the tournaments: the teamtabs, and the overview, and in 2018, the results! 
    """
    if yearcounter < 2018:
        overview = save_html("EUDC_core_of_tab-" + str(yearcounter)  + ".html",core_of_tab) #saving the html
        overviews.append(overview)    #appending all requested html sites to the overview
        teamtab = save_html("EUDC_teamtab-" + str(yearcounter) + ".html", core_of_tab + "stats/team-tab/sort/object.name")
        teamtabs.append(teamtab)
    elif yearcounter == 2018: 
        overview =  save_html("EUDC_core_of_tab-" + str(yearcounter) + ".html",core_of_tab)
        overviews.append(overview)
        teamtab =  save_html("EUDC_teamtab-" + str(yearcounter) + ".html", core_of_tab + "tab/team/")
        teamtabs.append(teamtab)
        cot = core_of_tab
        for rounds in range(1, 10, 1):
            roundtab = save_html("EUDC-"+str(yearcounter)+"-round"+ str(rounds) +".html", cot + "results/round/" + str(rounds))
            roundresults.append(roundtab)
    else:
        overview =  save_html("EUDC_core_of_tab-" + str(yearcounter) + ".html",core_of_tab)
        overviews.append(overview)
        teamtab = save_html("EUDC_teamtab-" + str(yearcounter) + ".html", core_of_tab + "tab/team/" )
        teamtabs.append(teamtab)
    yearcounter = yearcounter + 1 
    print(yearcounter)
    
    
#I can print with: print(responses[3].content.decode('utf-8'))

https://www.tabbie.org/Vienna-EUDC-2015/
200
EUDC_core_of_tab-2015.html
https://www.tabbie.org/Vienna-EUDC-2015/stats/team-tab/sort/object.name
200
EUDC_teamtab-2015.html
2016
https://www.tabbie.org/warsaw-eudc-/
200
EUDC_core_of_tab-2016.html
https://www.tabbie.org/warsaw-eudc-/stats/team-tab/sort/object.name
200
EUDC_teamtab-2016.html
2017
https://www.tabbie.org/talinn-eudc-/
200
EUDC_core_of_tab-2017.html
https://www.tabbie.org/talinn-eudc-/stats/team-tab/sort/object.name
200
EUDC_teamtab-2017.html
2018
https://novisadeudc.herokuapp.com/eudc2018/
200

UnicodeEncodeError: 'charmap' codec can't encode character '\U0001f44b' in position 9285: character maps to <undefined>

In [10]:
print(overviews) 
print(teamtabs)
print(roundresults)

[<Response [200]>, <Response [200]>, <Response [200]>]
[<Response [200]>, <Response [200]>, <Response [200]>]
[]

elif yearcounter == 2018: 
        teamtab =  save_html("EUDC_teamtab-" + str(yearcounter) + ".html", core_of_tab + "tab/team/")
        teamtabs.append(teamtab)
        cot = core_of_tab
        for rounds in range(1, 10, 1):
            roundtab = save_html("EUDC-"+str(yearcounter)+"-round"+ str(rounds) +".html", cot + "results/round/" + str(rounds))
            roundresults.append(roundtab)
    else: 
        teamtab = save_html("EUDC_teamtab-" + str(yearcounter) + ".html", core_of_tab + "tab/team/" )
        teamtabs.append(teamtab)

In [11]:
#Heruko comes here

Since Jupyter can render page, it seems appropriate that I am doing it right away. So let's go.

In [12]:
#We learned this on class! 
from IPython.display import HTML
def Jupyter_render(opened_html):
    if opened_html.status_code == 200:
        result = HTML(opened_html.content.decode('utf-8'))
    else:
        result = 'Nah, let\'s have a beer instead!'
    return result
#I can see it with:  Jupyter_render(response)
#Jupyter_render(overviews[0])

## Part 1.2: Getting the database data 
Now that I have saved the html files, it is time to scrape my tournament data, first: the tabbie files!

In [13]:
data = []
teams = []
tabbie_core = [overviews[0], overviews[1], overviews[2]]
#tabbycat_core = [overviews[3],overviews[4]]
tabbie_teams = [ teamtabs[0], teamtabs[1], teamtabs[2]]
#tabbycat_teams = [ teamtabs[3], teamtabs[4]]

In [14]:
document = tabbie_teams[0].content
soup = BeautifulSoup(document, 'html.parser')
print(soup.prettify())

"
<div class='\"tab-team-container\"'>
 \n\n\t
 <h3>
  Team Tab
 </h3>
 \n\t\n\t
 <div class='\"grid-view\"' data-krajee-grid='\"kvGridInit_569bd340\"' id='\"team-tab\"'>
  <div class='\"kv-grid-container\"' id='\"team-tab-container\"'>
   <table class='\"kv-grid-table' kv-table-wrap\"="" table="" table-bordered="" table-hover="">
    <thead>
     \n\n
     <tr>
      <th data-col-seq='\"0\"' style='\"width:50px;\"'>
       <a data-sort='\"enl_place\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/enl_place\"'>
        ENL
       </a>
      </th>
      <th data-col-seq='\"1\"' style='\"width:50px;\"'>
       <a data-sort='\"esl_place\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/esl_place\"'>
        ESL
       </a>
      </th>
      <th data-col-seq='\"4\"'>
       <a class='\"asc\"' data-sort='\"-object.name\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/-object.name\"'>
        Team
       </a>
      </th>
      <th data-col-seq='\"5\"' style='\"width:20px;\"'>
       <a data-sort='\"points\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/points\"'>
        Team Points
       </a>
      </th>
      <th data-col-seq='\"6\"' style='\"width:20px;\"'>
       <a data-sort='\"speaks\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/speaks\"'>
        Speaker Points
       </a>
      </th>
      <th data-col-seq='\"7\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.1\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.1\"'>
        #1
       </a>
      </th>
      <th data-col-seq='\"8\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.2\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.2\"'>
        #2
       </a>
      </th>
      <th data-col-seq='\"9\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.3\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.3\"'>
        #3
       </a>
      </th>
      <th data-col-seq='\"10\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.4\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.4\"'>
        #4
       </a>
      </th>
      <th data-col-seq='\"11\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.5\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.5\"'>
        #5
       </a>
      </th>
      <th data-col-seq='\"12\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.6\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.6\"'>
        #6
       </a>
      </th>
      <th data-col-seq='\"13\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.7\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.7\"'>
        #7
       </a>
      </th>
      <th data-col-seq='\"14\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.8\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.8\"'>
        #8
       </a>
      </th>
      <th data-col-seq='\"15\"' style='\"width:40px;\"'>
       <a data-sort='\"results_array.9\"' href='\"/Vienna-EUDC-2015/stats/team-tab/sort/results_array.9\"'>
        #9
       </a>
      </th>
     </tr>
     \n\n
    </thead>
    \n
    <tbody>
     \n
     <tr class='\"\"' data-key='\"0\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       206
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       101
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/277\"'>
        ADAU A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       7
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1220
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       1
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"1\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       199
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       94
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/464\"'>
        ADAUM A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       8
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1231
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       2
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"2\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       195
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/280\"'>
        AIT A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       9
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       985
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       2*
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       3*
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       2
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"3\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       168
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       73
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/372\"'>
        AUEB A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       11
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1287
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       2
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"4\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       55
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/273\"'>
        Aalto A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       16
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1373
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       3
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"5\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       211
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       105
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/272\"'>
        Auth A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       5
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1210
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       0
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"6\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       48
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       8
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/473\"'>
        BBU A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       16
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1398
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       2
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"7\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       215
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/475\"'>
        BBU B
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       0
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       0
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       <span class='\"not-set\"'>
        (not set)
       </span>
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"8\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       205
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       100
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/306\"'>
        BCN-DS A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       7
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1227
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       0
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"9\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       96
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       26
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/337\"'>
        BDS A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       14
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1351
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       3
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"10\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       25
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       3
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/449\"'>
        BGU A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       18
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1404
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       2
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"11\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       63
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/472\"'>
        BGU B
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       15
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1394
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       2
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"12\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       150
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       62
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/471\"'>
        BGU C
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       12
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1307
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"11\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"12\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"13\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"14\"' style='\"width:40px;\"'>
       3
      </td>
      <td data-col-seq='\"15\"' style='\"width:40px;\"'>
       0
      </td>
     </tr>
     \n
     <tr class='\"\"' data-key='\"13\"'>
      <td data-col-seq='\"0\"' style='\"width:50px;\"'>
       201
      </td>
      <td data-col-seq='\"1\"' style='\"width:50px;\"'>
       96
      </td>
      <td data-col-seq='\"4\"'>
       <a href='\"/Vienna-EUDC-2015/team/485\"'>
        BOUN A
       </a>
      </td>
      <td data-col-seq='\"5\"' style='\"width:20px;\"'>
       8
      </td>
      <td data-col-seq='\"6\"' style='\"width:20px;\"'>
       1204
      </td>
      <td data-col-seq='\"7\"' style='\"width:40px;\"'>
       1
      </td>
      <td data-col-seq='\"8\"' style='\"width:40px;\"'>
       2
      </td>
      <td data-col-seq='\"9\"' style='\"width:40px;\"'>
       0
      </td>
      <td data-col-seq='\"10\"' style='\"width:40px;\"'>
       0
      </td>

In [15]:
#SAVING THE RESULT OF TEAMS 
#Using the technique from class: 
def getteams_tabbie(teamtab, toprint):
    """
    If toprint is True, it prints the taken urls, if not, it won't print
    """
    result = []
    document = teamtab.content
    soup = BeautifulSoup(document, 'html.parser')
    for urls in soup.find_all('a'):
        if "/team/" in urls.get('href'):
            team_url = urls.get('href')
            team_url = team_url[3:-2]
            result.append(team_url)
    if toprint == True:
        print(result)
    return result

for teamtab in tabbie_teams:
    teamlist = getteams_tabbie(teamtab, False)
    for team in teamlist:
        print(team)
        teams.append(team)

Vienna-EUDC-2015/team/277
Vienna-EUDC-2015/team/464
Vienna-EUDC-2015/team/280
Vienna-EUDC-2015/team/372
Vienna-EUDC-2015/team/273
Vienna-EUDC-2015/team/272
Vienna-EUDC-2015/team/473
Vienna-EUDC-2015/team/475
Vienna-EUDC-2015/team/306
Vienna-EUDC-2015/team/337
Vienna-EUDC-2015/team/449
Vienna-EUDC-2015/team/472
Vienna-EUDC-2015/team/471
Vienna-EUDC-2015/team/485
Vienna-EUDC-2015/team/455
Vienna-EUDC-2015/team/385
Vienna-EUDC-2015/team/420
Vienna-EUDC-2015/team/482
Vienna-EUDC-2015/team/460
Vienna-EUDC-2015/team/508
Vienna-EUDC-2015/team/502
Vienna-EUDC-2015/team/500
Vienna-EUDC-2015/team/314
Vienna-EUDC-2015/team/871
Vienna-EUDC-2015/team/489
Vienna-EUDC-2015/team/379
Vienna-EUDC-2015/team/363
Vienna-EUDC-2015/team/349
Vienna-EUDC-2015/team/344
Vienna-EUDC-2015/team/293
Vienna-EUDC-2015/team/380
Vienna-EUDC-2015/team/369
Vienna-EUDC-2015/team/287
Vienna-EUDC-2015/team/417
Vienna-EUDC-2015/team/329
Vienna-EUDC-2015/team/299
Vienna-EUDC-2015/team/304
Vienna-EUDC-2015/team/271
Vienna-EUDC-2015/team/453
Vienna-EUDC-2015/team/463
Vienna-EUDC-2015/team/387
Vienna-EUDC-2015/team/360
Vienna-EUDC-2015/team/359
Vienna-EUDC-2015/team/856
Vienna-EUDC-2015/team/321
Vienna-EUDC-2015/team/330
Vienna-EUDC-2015/team/318
Vienna-EUDC-2015/team/413
Vienna-EUDC-2015/team/521
Vienna-EUDC-2015/team/341
Vienna-EUDC-2015/team/495
Vienna-EUDC-2015/team/848
Vienna-EUDC-2015/team/858
Vienna-EUDC-2015/team/849
Vienna-EUDC-2015/team/346
Vienna-EUDC-2015/team/347
Vienna-EUDC-2015/team/388
Vienna-EUDC-2015/team/394
Vienna-EUDC-2015/team/382
Vienna-EUDC-2015/team/307
Vienna-EUDC-2015/team/477
Vienna-EUDC-2015/team/383
Vienna-EUDC-2015/team/327
Vienna-EUDC-2015/team/885
Vienna-EUDC-2015/team/269
Vienna-EUDC-2015/team/342
Vienna-EUDC-2015/team/351
Vienna-EUDC-2015/team/270
Vienna-EUDC-2015/team/478
Vienna-EUDC-2015/team/459
Vienna-EUDC-2015/team/302
Vienna-EUDC-2015/team/229
Vienna-EUDC-2015/team/443
Vienna-EUDC-2015/team/879
Vienna-EUDC-2015/team/297
Vienna-EUDC-2015/team/399
Vienna-EUDC-2015/team/286
Vienna-EUDC-2015/team/357
Vienna-EUDC-2015/team/274
Vienna-EUDC-2015/team/465
Vienna-EUDC-2015/team/398
Vienna-EUDC-2015/team/877
Vienna-EUDC-2015/team/861
Vienna-EUDC-2015/team/408
Vienna-EUDC-2015/team/448
Vienna-EUDC-2015/team/288
Vienna-EUDC-2015/team/883
Vienna-EUDC-2015/team/378
Vienna-EUDC-2015/team/348
Vienna-EUDC-2015/team/275
Vienna-EUDC-2015/team/863
Vienna-EUDC-2015/team/884
Vienna-EUDC-2015/team/873
Vienna-EUDC-2015/team/866
Vienna-EUDC-2015/team/332
Vienna-EUDC-2015/team/334
Vienna-EUDC-2015/team/493
Vienna-EUDC-2015/team/469
Vienna-EUDC-2015/team/498
Vienna-EUDC-2015/team/410
Vienna-EUDC-2015/team/874
Vienna-EUDC-2015/team/870
Vienna-EUDC-2015/team/496
Vienna-EUDC-2015/team/416
Vienna-EUDC-2015/team/393
Vienna-EUDC-2015/team/335
Vienna-EUDC-2015/team/311
Vienna-EUDC-2015/team/450
Vienna-EUDC-2015/team/850
Vienna-EUDC-2015/team/507
Vienna-EUDC-2015/team/474
Vienna-EUDC-2015/team/444
Vienna-EUDC-2015/team/490
Vienna-EUDC-2015/team/401
Vienna-EUDC-2015/team/392
Vienna-EUDC-2015/team/888
Vienna-EUDC-2015/team/403
Vienna-EUDC-2015/team/324
Vienna-EUDC-2015/team/370
Vienna-EUDC-2015/team/522
Vienna-EUDC-2015/team/865
Vienna-EUDC-2015/team/386
Vienna-EUDC-2015/team/851
Vienna-EUDC-2015/team/503
Vienna-EUDC-2015/team/365
Vienna-EUDC-2015/team/266
Vienna-EUDC-2015/team/404
Vienna-EUDC-2015/team/484
Vienna-EUDC-2015/team/864
Vienna-EUDC-2015/team/859
Vienna-EUDC-2015/team/362
Vienna-EUDC-2015/team/492
Vienna-EUDC-2015/team/451
Vienna-EUDC-2015/team/857
Vienna-EUDC-2015/team/418
Vienna-EUDC-2015/team/276
Vienna-EUDC-2015/team/281
Vienna-EUDC-2015/team/406
Vienna-EUDC-2015/team/491
Vienna-EUDC-2015/team/384
Vienna-EUDC-2015/team/846
Vienna-EUDC-2015/team/889
Vienna-EUDC-2015/team/890
Vienna-EUDC-2015/team/506
Vienna-EUDC-2015/team/505
Vienna-EUDC-2015/team/391
Vienna-EUDC-2015/team/882
Vienna-EUDC-2015/team/328
Vienna-EUDC-2015/team/282
Vienna-EUDC-2015/team/509
Vienna-EUDC-2015/team/407
Vienna-EUDC-2015/team/298
Vienna-EUDC-2015/team/316
Vienna-EUDC-2015/team/479
Vienna-EUDC-2015/team/480
Vienna-EUDC-2015/team/390
Vienna-EUDC-2015/team/338
Vienna-EUDC-2015/team/440
Vienna-EUDC-2015/team/499
Vienna-EUDC-2015/team/432
Vienna-EUDC-2015/team/488
Vienna-EUDC-2015/team/421
Vienna-EUDC-2015/team/320
Vienna-EUDC-2015/team/292
Vienna-EUDC-2015/team/331
Vienna-EUDC-2015/team/371
Vienna-EUDC-2015/team/313
Vienna-EUDC-2015/team/366
Vienna-EUDC-2015/team/368
Vienna-EUDC-2015/team/402
Vienna-EUDC-2015/team/315
Vienna-EUDC-2015/team/405
Vienna-EUDC-2015/team/375
Vienna-EUDC-2015/team/458
Vienna-EUDC-2015/team/470
Vienna-EUDC-2015/team/876
Vienna-EUDC-2015/team/481
Vienna-EUDC-2015/team/454
Vienna-EUDC-2015/team/855
Vienna-EUDC-2015/team/853
Vienna-EUDC-2015/team/422
Vienna-EUDC-2015/team/381
Vienna-EUDC-2015/team/415
Vienna-EUDC-2015/team/880
Vienna-EUDC-2015/team/875
Vienna-EUDC-2015/team/483
Vienna-EUDC-2015/team/446
Vienna-EUDC-2015/team/497
Vienna-EUDC-2015/team/466
Vienna-EUDC-2015/team/414
Vienna-EUDC-2015/team/296
Vienna-EUDC-2015/team/419
Vienna-EUDC-2015/team/886
Vienna-EUDC-2015/team/303
Vienna-EUDC-2015/team/279
Vienna-EUDC-2015/team/854
Vienna-EUDC-2015/team/881
Vienna-EUDC-2015/team/434
Vienna-EUDC-2015/team/361
Vienna-EUDC-2015/team/354
Vienna-EUDC-2015/team/847
Vienna-EUDC-2015/team/862
Vienna-EUDC-2015/team/358
Vienna-EUDC-2015/team/400
Vienna-EUDC-2015/team/462
Vienna-EUDC-2015/team/355
Vienna-EUDC-2015/team/468
Vienna-EUDC-2015/team/868
Vienna-EUDC-2015/team/322
Vienna-EUDC-2015/team/294
Vienna-EUDC-2015/team/295
Vienna-EUDC-2015/team/290
Vienna-EUDC-2015/team/345
Vienna-EUDC-2015/team/389
Vienna-EUDC-2015/team/367
Vienna-EUDC-2015/team/452
Vienna-EUDC-2015/team/872
warsaw-eudc-/team/6821
warsaw-eudc-/team/6820
warsaw-eudc-/team/6772
warsaw-eudc-/team/6771
warsaw-eudc-/team/6850
warsaw-eudc-/team/6849
warsaw-eudc-/team/6848
warsaw-eudc-/team/6831
warsaw-eudc-/team/6878
warsaw-eudc-/team/6683
warsaw-eudc-/team/6786
warsaw-eudc-/team/6785
warsaw-eudc-/team/6777
warsaw-eudc-/team/6804
warsaw-eudc-/team/6656
warsaw-eudc-/team/6672
warsaw-eudc-/team/6673
warsaw-eudc-/team/6674
warsaw-eudc-/team/6687
warsaw-eudc-/team/6688
warsaw-eudc-/team/6690
warsaw-eudc-/team/6716
warsaw-eudc-/team/6717
warsaw-eudc-/team/6718
warsaw-eudc-/team/6839
warsaw-eudc-/team/6838
warsaw-eudc-/team/6705
warsaw-eudc-/team/6706
warsaw-eudc-/team/6707
warsaw-eudc-/team/6708
warsaw-eudc-/team/6834
warsaw-eudc-/team/6833
warsaw-eudc-/team/6689
warsaw-eudc-/team/6765
warsaw-eudc-/team/6546
warsaw-eudc-/team/6547
warsaw-eudc-/team/6548
warsaw-eudc-/team/6549
warsaw-eudc-/team/6879
warsaw-eudc-/team/6829
warsaw-eudc-/team/6811
warsaw-eudc-/team/6815
warsaw-eudc-/team/6832
warsaw-eudc-/team/6799
warsaw-eudc-/team/6724
warsaw-eudc-/team/6723
warsaw-eudc-/team/6803
warsaw-eudc-/team/6798
warsaw-eudc-/team/6760
warsaw-eudc-/team/6761
warsaw-eudc-/team/6762
warsaw-eudc-/team/6763
warsaw-eudc-/team/6881
warsaw-eudc-/team/6563
warsaw-eudc-/team/6564
warsaw-eudc-/team/6565
warsaw-eudc-/team/6566
warsaw-eudc-/team/6758
warsaw-eudc-/team/6703
warsaw-eudc-/team/6704
warsaw-eudc-/team/6819
warsaw-eudc-/team/6782
warsaw-eudc-/team/6781
warsaw-eudc-/team/6684
warsaw-eudc-/team/6685
warsaw-eudc-/team/6686
warsaw-eudc-/team/6773
warsaw-eudc-/team/6862
warsaw-eudc-/team/6863
warsaw-eudc-/team/6711
warsaw-eudc-/team/6712
warsaw-eudc-/team/6713
warsaw-eudc-/team/6802
warsaw-eudc-/team/6826
warsaw-eudc-/team/6695
warsaw-eudc-/team/6696
warsaw-eudc-/team/6854
warsaw-eudc-/team/6853
warsaw-eudc-/team/6759
warsaw-eudc-/team/6736
warsaw-eudc-/team/6737
warsaw-eudc-/team/6856
warsaw-eudc-/team/6855
warsaw-eudc-/team/6828
warsaw-eudc-/team/6714
warsaw-eudc-/team/6715
warsaw-eudc-/team/6719
warsaw-eudc-/team/6784
warsaw-eudc-/team/6774
warsaw-eudc-/team/6747
warsaw-eudc-/team/6702
warsaw-eudc-/team/6741
warsaw-eudc-/team/6742
warsaw-eudc-/team/6743
warsaw-eudc-/team/6744
warsaw-eudc-/team/6810
warsaw-eudc-/team/6809
warsaw-eudc-/team/6648
warsaw-eudc-/team/6649
warsaw-eudc-/team/6650
warsaw-eudc-/team/6651
warsaw-eudc-/team/6767
warsaw-eudc-/team/6882
warsaw-eudc-/team/6788
warsaw-eudc-/team/6787
warsaw-eudc-/team/6720
warsaw-eudc-/team/6721
warsaw-eudc-/team/6722
warsaw-eudc-/team/6755
warsaw-eudc-/team/6752
warsaw-eudc-/team/6876
warsaw-eudc-/team/6847
warsaw-eudc-/team/6846
warsaw-eudc-/team/6845
warsaw-eudc-/team/6795
warsaw-eudc-/team/6818
warsaw-eudc-/team/6694
warsaw-eudc-/team/6697
warsaw-eudc-/team/6698
warsaw-eudc-/team/6794
warsaw-eudc-/team/6823
warsaw-eudc-/team/6822
warsaw-eudc-/team/6835
warsaw-eudc-/team/6789
warsaw-eudc-/team/6699
warsaw-eudc-/team/6700
warsaw-eudc-/team/6701
warsaw-eudc-/team/6776
warsaw-eudc-/team/6775
warsaw-eudc-/team/6550
warsaw-eudc-/team/6551
warsaw-eudc-/team/6552
warsaw-eudc-/team/6553
warsaw-eudc-/team/6732
warsaw-eudc-/team/6880
warsaw-eudc-/team/6805
warsaw-eudc-/team/6861
warsaw-eudc-/team/6860
warsaw-eudc-/team/6749
warsaw-eudc-/team/6748
warsaw-eudc-/team/6735
warsaw-eudc-/team/6808
warsaw-eudc-/team/6807
warsaw-eudc-/team/6825
warsaw-eudc-/team/6824
warsaw-eudc-/team/6770
warsaw-eudc-/team/6726
warsaw-eudc-/team/6727
warsaw-eudc-/team/6728
warsaw-eudc-/team/6866
warsaw-eudc-/team/6873
warsaw-eudc-/team/6865
warsaw-eudc-/team/6864
warsaw-eudc-/team/6733
warsaw-eudc-/team/6734
warsaw-eudc-/team/6842
warsaw-eudc-/team/6841
warsaw-eudc-/team/6840
warsaw-eudc-/team/6827
warsaw-eudc-/team/6877
warsaw-eudc-/team/6912
warsaw-eudc-/team/6913
warsaw-eudc-/team/6914
warsaw-eudc-/team/6859
warsaw-eudc-/team/6858
warsaw-eudc-/team/6857
warsaw-eudc-/team/6652
warsaw-eudc-/team/6653
warsaw-eudc-/team/6654
warsaw-eudc-/team/6655
warsaw-eudc-/team/6764
warsaw-eudc-/team/6830
warsaw-eudc-/team/6709
warsaw-eudc-/team/6710
warsaw-eudc-/team/6756
warsaw-eudc-/team/6757
warsaw-eudc-/team/6559
warsaw-eudc-/team/6560
warsaw-eudc-/team/6561
warsaw-eudc-/team/6562
warsaw-eudc-/team/6814
warsaw-eudc-/team/6844
warsaw-eudc-/team/6843
warsaw-eudc-/team/6780
warsaw-eudc-/team/6779
warsaw-eudc-/team/6872
warsaw-eudc-/team/6871
warsaw-eudc-/team/6870
warsaw-eudc-/team/6766
warsaw-eudc-/team/6883
warsaw-eudc-/team/6817
warsaw-eudc-/team/6816
warsaw-eudc-/team/6869
warsaw-eudc-/team/6868
warsaw-eudc-/team/6867
warsaw-eudc-/team/6751
warsaw-eudc-/team/6753
warsaw-eudc-/team/6754
warsaw-eudc-/team/6738
warsaw-eudc-/team/6739
warsaw-eudc-/team/6740
warsaw-eudc-/team/6745
warsaw-eudc-/team/6750
warsaw-eudc-/team/6768
warsaw-eudc-/team/6806
warsaw-eudc-/team/6800
warsaw-eudc-/team/6793
warsaw-eudc-/team/6792
warsaw-eudc-/team/6791
warsaw-eudc-/team/6852
warsaw-eudc-/team/6746
warsaw-eudc-/team/6725
warsaw-eudc-/team/6875
warsaw-eudc-/team/6691
warsaw-eudc-/team/6783
warsaw-eudc-/team/6801
warsaw-eudc-/team/6797
warsaw-eudc-/team/6796
warsaw-eudc-/team/6790
warsaw-eudc-/team/6769
warsaw-eudc-/team/6837
warsaw-eudc-/team/6812
warsaw-eudc-/team/6692
warsaw-eudc-/team/6729
warsaw-eudc-/team/6730
warsaw-eudc-/team/6731
warsaw-eudc-/team/6851
warsaw-eudc-/team/6874
warsaw-eudc-/team/6813
warsaw-eudc-/team/6778
talinn-eudc-/team/16464
talinn-eudc-/team/16459
talinn-eudc-/team/17532
talinn-eudc-/team/16467
talinn-eudc-/team/16468
talinn-eudc-/team/17360
talinn-eudc-/team/16465
talinn-eudc-/team/16466
talinn-eudc-/team/17533
talinn-eudc-/team/17540
talinn-eudc-/team/17541
talinn-eudc-/team/17542
talinn-eudc-/team/16469
talinn-eudc-/team/16470
talinn-eudc-/team/16471
talinn-eudc-/team/17355
talinn-eudc-/team/17356
talinn-eudc-/team/17543
talinn-eudc-/team/17544
talinn-eudc-/team/17534
talinn-eudc-/team/17607
talinn-eudc-/team/17357
talinn-eudc-/team/17358
talinn-eudc-/team/17359
talinn-eudc-/team/16461
talinn-eudc-/team/16462
talinn-eudc-/team/16463
talinn-eudc-/team/17545
talinn-eudc-/team/17535
talinn-eudc-/team/17546
talinn-eudc-/team/17370
talinn-eudc-/team/17367
talinn-eudc-/team/17571
talinn-eudc-/team/17361
talinn-eudc-/team/17362
talinn-eudc-/team/17363
talinn-eudc-/team/17364
talinn-eudc-/team/17365
talinn-eudc-/team/17366
talinn-eudc-/team/17513
talinn-eudc-/team/17514
talinn-eudc-/team/17368
talinn-eudc-/team/17369
talinn-eudc-/team/17407
talinn-eudc-/team/17547
talinn-eudc-/team/17377
talinn-eudc-/team/17521
talinn-eudc-/team/16460
talinn-eudc-/team/17383
talinn-eudc-/team/17384
talinn-eudc-/team/17385
talinn-eudc-/team/17391
talinn-eudc-/team/17386
talinn-eudc-/team/17387
talinn-eudc-/team/17388
talinn-eudc-/team/17389
talinn-eudc-/team/17390
talinn-eudc-/team/17397
talinn-eudc-/team/17398
talinn-eudc-/team/17399
talinn-eudc-/team/17394
talinn-eudc-/team/17395
talinn-eudc-/team/17406
talinn-eudc-/team/17400
talinn-eudc-/team/17401
talinn-eudc-/team/17548
talinn-eudc-/team/17402
talinn-eudc-/team/17403
talinn-eudc-/team/17404
talinn-eudc-/team/17374
talinn-eudc-/team/17375
talinn-eudc-/team/17405
talinn-eudc-/team/17408
talinn-eudc-/team/17409
talinn-eudc-/team/17568
talinn-eudc-/team/17410
talinn-eudc-/team/17411
talinn-eudc-/team/17412
talinn-eudc-/team/17566
talinn-eudc-/team/17413
talinn-eudc-/team/17393
talinn-eudc-/team/17415
talinn-eudc-/team/17416
talinn-eudc-/team/17417
talinn-eudc-/team/17414
talinn-eudc-/team/17420
talinn-eudc-/team/17505
talinn-eudc-/team/17376
talinn-eudc-/team/17418
talinn-eudc-/team/17419
talinn-eudc-/team/17481
talinn-eudc-/team/17426
talinn-eudc-/team/17427
talinn-eudc-/team/17428
talinn-eudc-/team/17421
talinn-eudc-/team/17422
talinn-eudc-/team/17423
talinn-eudc-/team/17424
talinn-eudc-/team/17425
talinn-eudc-/team/17549
talinn-eudc-/team/17550
talinn-eudc-/team/17551
talinn-eudc-/team/17495
talinn-eudc-/team/17429
talinn-eudc-/team/17435
talinn-eudc-/team/17439
talinn-eudc-/team/17440
talinn-eudc-/team/17441
talinn-eudc-/team/17597
talinn-eudc-/team/17467
talinn-eudc-/team/17468
talinn-eudc-/team/17430
talinn-eudc-/team/17431
talinn-eudc-/team/17432
talinn-eudc-/team/17433
talinn-eudc-/team/17434
talinn-eudc-/team/17436
talinn-eudc-/team/18077
talinn-eudc-/team/17437
talinn-eudc-/team/17564
talinn-eudc-/team/17371
talinn-eudc-/team/17372
talinn-eudc-/team/17373
talinn-eudc-/team/17471
talinn-eudc-/team/17442
talinn-eudc-/team/17448
talinn-eudc-/team/17449
talinn-eudc-/team/17450
talinn-eudc-/team/17443
talinn-eudc-/team/17444
talinn-eudc-/team/17445
talinn-eudc-/team/17446
talinn-eudc-/team/17492
talinn-eudc-/team/17493
talinn-eudc-/team/17494
talinn-eudc-/team/17451
talinn-eudc-/team/17452
talinn-eudc-/team/17453
talinn-eudc-/team/17454
talinn-eudc-/team/17455
talinn-eudc-/team/17456
talinn-eudc-/team/17457
talinn-eudc-/team/17458
talinn-eudc-/team/17459
talinn-eudc-/team/17567
talinn-eudc-/team/17496
talinn-eudc-/team/17460
talinn-eudc-/team/17461
talinn-eudc-/team/17463
talinn-eudc-/team/17465
talinn-eudc-/team/17466
talinn-eudc-/team/17499
talinn-eudc-/team/17500
talinn-eudc-/team/17569
talinn-eudc-/team/17378
talinn-eudc-/team/17491
talinn-eudc-/team/17490
talinn-eudc-/team/17565
talinn-eudc-/team/17488
talinn-eudc-/team/17489
talinn-eudc-/team/17497
talinn-eudc-/team/17498
talinn-eudc-/team/17486
talinn-eudc-/team/17487
talinn-eudc-/team/17502
talinn-eudc-/team/17503
talinn-eudc-/team/17504
talinn-eudc-/team/17506
talinn-eudc-/team/17507
talinn-eudc-/team/17508
talinn-eudc-/team/17509
talinn-eudc-/team/17510
talinn-eudc-/team/17511
talinn-eudc-/team/17512
talinn-eudc-/team/17482
talinn-eudc-/team/17483
talinn-eudc-/team/17484
talinn-eudc-/team/17485
talinn-eudc-/team/17595
talinn-eudc-/team/17598
talinn-eudc-/team/17599
talinn-eudc-/team/17600
talinn-eudc-/team/17515
talinn-eudc-/team/17516
talinn-eudc-/team/17517
talinn-eudc-/team/17518
talinn-eudc-/team/17519
talinn-eudc-/team/17520
talinn-eudc-/team/17447
talinn-eudc-/team/17536
talinn-eudc-/team/17522
talinn-eudc-/team/17523
talinn-eudc-/team/17524
talinn-eudc-/team/17525
talinn-eudc-/team/17526
talinn-eudc-/team/17527
talinn-eudc-/team/17528
talinn-eudc-/team/17529
talinn-eudc-/team/17530
talinn-eudc-/team/17538
talinn-eudc-/team/17539
talinn-eudc-/team/17531
talinn-eudc-/team/17392
talinn-eudc-/team/17537
talinn-eudc-/team/17472
talinn-eudc-/team/17379
talinn-eudc-/team/17380
talinn-eudc-/team/17381
talinn-eudc-/team/17382
talinn-eudc-/team/17480
talinn-eudc-/team/17478
talinn-eudc-/team/17479
talinn-eudc-/team/17462
talinn-eudc-/team/17469
talinn-eudc-/team/17470
talinn-eudc-/team/17476
talinn-eudc-/team/17477
talinn-eudc-/team/17473
talinn-eudc-/team/17474
talinn-eudc-/team/17475

In [16]:
for team in teams:
    print(team)

Vienna-EUDC-2015/team/277
Vienna-EUDC-2015/team/464
Vienna-EUDC-2015/team/280
Vienna-EUDC-2015/team/372
Vienna-EUDC-2015/team/273
Vienna-EUDC-2015/team/272
Vienna-EUDC-2015/team/473
Vienna-EUDC-2015/team/475
Vienna-EUDC-2015/team/306
Vienna-EUDC-2015/team/337
Vienna-EUDC-2015/team/449
Vienna-EUDC-2015/team/472
Vienna-EUDC-2015/team/471
Vienna-EUDC-2015/team/485
Vienna-EUDC-2015/team/455
Vienna-EUDC-2015/team/385
Vienna-EUDC-2015/team/420
Vienna-EUDC-2015/team/482
Vienna-EUDC-2015/team/460
Vienna-EUDC-2015/team/508
Vienna-EUDC-2015/team/502
Vienna-EUDC-2015/team/500
Vienna-EUDC-2015/team/314
Vienna-EUDC-2015/team/871
Vienna-EUDC-2015/team/489
Vienna-EUDC-2015/team/379
Vienna-EUDC-2015/team/363
Vienna-EUDC-2015/team/349
Vienna-EUDC-2015/team/344
Vienna-EUDC-2015/team/293
Vienna-EUDC-2015/team/380
Vienna-EUDC-2015/team/369
Vienna-EUDC-2015/team/287
Vienna-EUDC-2015/team/417
Vienna-EUDC-2015/team/329
Vienna-EUDC-2015/team/299
Vienna-EUDC-2015/team/304
Vienna-EUDC-2015/team/271
Vienna-EUDC-2015/team/453
Vienna-EUDC-2015/team/463
Vienna-EUDC-2015/team/387
Vienna-EUDC-2015/team/360
Vienna-EUDC-2015/team/359
Vienna-EUDC-2015/team/856
Vienna-EUDC-2015/team/321
Vienna-EUDC-2015/team/330
Vienna-EUDC-2015/team/318
Vienna-EUDC-2015/team/413
Vienna-EUDC-2015/team/521
Vienna-EUDC-2015/team/341
Vienna-EUDC-2015/team/495
Vienna-EUDC-2015/team/848
Vienna-EUDC-2015/team/858
Vienna-EUDC-2015/team/849
Vienna-EUDC-2015/team/346
Vienna-EUDC-2015/team/347
Vienna-EUDC-2015/team/388
Vienna-EUDC-2015/team/394
Vienna-EUDC-2015/team/382
Vienna-EUDC-2015/team/307
Vienna-EUDC-2015/team/477
Vienna-EUDC-2015/team/383
Vienna-EUDC-2015/team/327
Vienna-EUDC-2015/team/885
Vienna-EUDC-2015/team/269
Vienna-EUDC-2015/team/342
Vienna-EUDC-2015/team/351
Vienna-EUDC-2015/team/270
Vienna-EUDC-2015/team/478
Vienna-EUDC-2015/team/459
Vienna-EUDC-2015/team/302
Vienna-EUDC-2015/team/229
Vienna-EUDC-2015/team/443
Vienna-EUDC-2015/team/879
Vienna-EUDC-2015/team/297
Vienna-EUDC-2015/team/399
Vienna-EUDC-2015/team/286
Vienna-EUDC-2015/team/357
Vienna-EUDC-2015/team/274
Vienna-EUDC-2015/team/465
Vienna-EUDC-2015/team/398
Vienna-EUDC-2015/team/877
Vienna-EUDC-2015/team/861
Vienna-EUDC-2015/team/408
Vienna-EUDC-2015/team/448
Vienna-EUDC-2015/team/288
Vienna-EUDC-2015/team/883
Vienna-EUDC-2015/team/378
Vienna-EUDC-2015/team/348
Vienna-EUDC-2015/team/275
Vienna-EUDC-2015/team/863
Vienna-EUDC-2015/team/884
Vienna-EUDC-2015/team/873
Vienna-EUDC-2015/team/866
Vienna-EUDC-2015/team/332
Vienna-EUDC-2015/team/334
Vienna-EUDC-2015/team/493
Vienna-EUDC-2015/team/469
Vienna-EUDC-2015/team/498
Vienna-EUDC-2015/team/410
Vienna-EUDC-2015/team/874
Vienna-EUDC-2015/team/870
Vienna-EUDC-2015/team/496
Vienna-EUDC-2015/team/416
Vienna-EUDC-2015/team/393
Vienna-EUDC-2015/team/335
Vienna-EUDC-2015/team/311
Vienna-EUDC-2015/team/450
Vienna-EUDC-2015/team/850
Vienna-EUDC-2015/team/507
Vienna-EUDC-2015/team/474
Vienna-EUDC-2015/team/444
Vienna-EUDC-2015/team/490
Vienna-EUDC-2015/team/401
Vienna-EUDC-2015/team/392
Vienna-EUDC-2015/team/888
Vienna-EUDC-2015/team/403
Vienna-EUDC-2015/team/324
Vienna-EUDC-2015/team/370
Vienna-EUDC-2015/team/522
Vienna-EUDC-2015/team/865
Vienna-EUDC-2015/team/386
Vienna-EUDC-2015/team/851
Vienna-EUDC-2015/team/503
Vienna-EUDC-2015/team/365
Vienna-EUDC-2015/team/266
Vienna-EUDC-2015/team/404
Vienna-EUDC-2015/team/484
Vienna-EUDC-2015/team/864
Vienna-EUDC-2015/team/859
Vienna-EUDC-2015/team/362
Vienna-EUDC-2015/team/492
Vienna-EUDC-2015/team/451
Vienna-EUDC-2015/team/857
Vienna-EUDC-2015/team/418
Vienna-EUDC-2015/team/276
Vienna-EUDC-2015/team/281
Vienna-EUDC-2015/team/406
Vienna-EUDC-2015/team/491
Vienna-EUDC-2015/team/384
Vienna-EUDC-2015/team/846
Vienna-EUDC-2015/team/889
Vienna-EUDC-2015/team/890
Vienna-EUDC-2015/team/506
Vienna-EUDC-2015/team/505
Vienna-EUDC-2015/team/391
Vienna-EUDC-2015/team/882
Vienna-EUDC-2015/team/328
Vienna-EUDC-2015/team/282
Vienna-EUDC-2015/team/509
Vienna-EUDC-2015/team/407
Vienna-EUDC-2015/team/298
Vienna-EUDC-2015/team/316
Vienna-EUDC-2015/team/479
Vienna-EUDC-2015/team/480
Vienna-EUDC-2015/team/390
Vienna-EUDC-2015/team/338
Vienna-EUDC-2015/team/440
Vienna-EUDC-2015/team/499
Vienna-EUDC-2015/team/432
Vienna-EUDC-2015/team/488
Vienna-EUDC-2015/team/421
Vienna-EUDC-2015/team/320
Vienna-EUDC-2015/team/292
Vienna-EUDC-2015/team/331
Vienna-EUDC-2015/team/371
Vienna-EUDC-2015/team/313
Vienna-EUDC-2015/team/366
Vienna-EUDC-2015/team/368
Vienna-EUDC-2015/team/402
Vienna-EUDC-2015/team/315
Vienna-EUDC-2015/team/405
Vienna-EUDC-2015/team/375
Vienna-EUDC-2015/team/458
Vienna-EUDC-2015/team/470
Vienna-EUDC-2015/team/876
Vienna-EUDC-2015/team/481
Vienna-EUDC-2015/team/454
Vienna-EUDC-2015/team/855
Vienna-EUDC-2015/team/853
Vienna-EUDC-2015/team/422
Vienna-EUDC-2015/team/381
Vienna-EUDC-2015/team/415
Vienna-EUDC-2015/team/880
Vienna-EUDC-2015/team/875
Vienna-EUDC-2015/team/483
Vienna-EUDC-2015/team/446
Vienna-EUDC-2015/team/497
Vienna-EUDC-2015/team/466
Vienna-EUDC-2015/team/414
Vienna-EUDC-2015/team/296
Vienna-EUDC-2015/team/419
Vienna-EUDC-2015/team/886
Vienna-EUDC-2015/team/303
Vienna-EUDC-2015/team/279
Vienna-EUDC-2015/team/854
Vienna-EUDC-2015/team/881
Vienna-EUDC-2015/team/434
Vienna-EUDC-2015/team/361
Vienna-EUDC-2015/team/354
Vienna-EUDC-2015/team/847
Vienna-EUDC-2015/team/862
Vienna-EUDC-2015/team/358
Vienna-EUDC-2015/team/400
Vienna-EUDC-2015/team/462
Vienna-EUDC-2015/team/355
Vienna-EUDC-2015/team/468
Vienna-EUDC-2015/team/868
Vienna-EUDC-2015/team/322
Vienna-EUDC-2015/team/294
Vienna-EUDC-2015/team/295
Vienna-EUDC-2015/team/290
Vienna-EUDC-2015/team/345
Vienna-EUDC-2015/team/389
Vienna-EUDC-2015/team/367
Vienna-EUDC-2015/team/452
Vienna-EUDC-2015/team/872
warsaw-eudc-/team/6821
warsaw-eudc-/team/6820
warsaw-eudc-/team/6772
warsaw-eudc-/team/6771
warsaw-eudc-/team/6850
warsaw-eudc-/team/6849
warsaw-eudc-/team/6848
warsaw-eudc-/team/6831
warsaw-eudc-/team/6878
warsaw-eudc-/team/6683
warsaw-eudc-/team/6786
warsaw-eudc-/team/6785
warsaw-eudc-/team/6777
warsaw-eudc-/team/6804
warsaw-eudc-/team/6656
warsaw-eudc-/team/6672
warsaw-eudc-/team/6673
warsaw-eudc-/team/6674
warsaw-eudc-/team/6687
warsaw-eudc-/team/6688
warsaw-eudc-/team/6690
warsaw-eudc-/team/6716
warsaw-eudc-/team/6717
warsaw-eudc-/team/6718
warsaw-eudc-/team/6839
warsaw-eudc-/team/6838
warsaw-eudc-/team/6705
warsaw-eudc-/team/6706
warsaw-eudc-/team/6707
warsaw-eudc-/team/6708
warsaw-eudc-/team/6834
warsaw-eudc-/team/6833
warsaw-eudc-/team/6689
warsaw-eudc-/team/6765
warsaw-eudc-/team/6546
warsaw-eudc-/team/6547
warsaw-eudc-/team/6548
warsaw-eudc-/team/6549
warsaw-eudc-/team/6879
warsaw-eudc-/team/6829
warsaw-eudc-/team/6811
warsaw-eudc-/team/6815
warsaw-eudc-/team/6832
warsaw-eudc-/team/6799
warsaw-eudc-/team/6724
warsaw-eudc-/team/6723
warsaw-eudc-/team/6803
warsaw-eudc-/team/6798
warsaw-eudc-/team/6760
warsaw-eudc-/team/6761
warsaw-eudc-/team/6762
warsaw-eudc-/team/6763
warsaw-eudc-/team/6881
warsaw-eudc-/team/6563
warsaw-eudc-/team/6564
warsaw-eudc-/team/6565
warsaw-eudc-/team/6566
warsaw-eudc-/team/6758
warsaw-eudc-/team/6703
warsaw-eudc-/team/6704
warsaw-eudc-/team/6819
warsaw-eudc-/team/6782
warsaw-eudc-/team/6781
warsaw-eudc-/team/6684
warsaw-eudc-/team/6685
warsaw-eudc-/team/6686
warsaw-eudc-/team/6773
warsaw-eudc-/team/6862
warsaw-eudc-/team/6863
warsaw-eudc-/team/6711
warsaw-eudc-/team/6712
warsaw-eudc-/team/6713
warsaw-eudc-/team/6802
warsaw-eudc-/team/6826
warsaw-eudc-/team/6695
warsaw-eudc-/team/6696
warsaw-eudc-/team/6854
warsaw-eudc-/team/6853
warsaw-eudc-/team/6759
warsaw-eudc-/team/6736
warsaw-eudc-/team/6737
warsaw-eudc-/team/6856
warsaw-eudc-/team/6855
warsaw-eudc-/team/6828
warsaw-eudc-/team/6714
warsaw-eudc-/team/6715
warsaw-eudc-/team/6719
warsaw-eudc-/team/6784
warsaw-eudc-/team/6774
warsaw-eudc-/team/6747
warsaw-eudc-/team/6702
warsaw-eudc-/team/6741
warsaw-eudc-/team/6742
warsaw-eudc-/team/6743
warsaw-eudc-/team/6744
warsaw-eudc-/team/6810
warsaw-eudc-/team/6809
warsaw-eudc-/team/6648
warsaw-eudc-/team/6649
warsaw-eudc-/team/6650
warsaw-eudc-/team/6651
warsaw-eudc-/team/6767
warsaw-eudc-/team/6882
warsaw-eudc-/team/6788
warsaw-eudc-/team/6787
warsaw-eudc-/team/6720
warsaw-eudc-/team/6721
warsaw-eudc-/team/6722
warsaw-eudc-/team/6755
warsaw-eudc-/team/6752
warsaw-eudc-/team/6876
warsaw-eudc-/team/6847
warsaw-eudc-/team/6846
warsaw-eudc-/team/6845
warsaw-eudc-/team/6795
warsaw-eudc-/team/6818
warsaw-eudc-/team/6694
warsaw-eudc-/team/6697
warsaw-eudc-/team/6698
warsaw-eudc-/team/6794
warsaw-eudc-/team/6823
warsaw-eudc-/team/6822
warsaw-eudc-/team/6835
warsaw-eudc-/team/6789
warsaw-eudc-/team/6699
warsaw-eudc-/team/6700
warsaw-eudc-/team/6701
warsaw-eudc-/team/6776
warsaw-eudc-/team/6775
warsaw-eudc-/team/6550
warsaw-eudc-/team/6551
warsaw-eudc-/team/6552
warsaw-eudc-/team/6553
warsaw-eudc-/team/6732
warsaw-eudc-/team/6880
warsaw-eudc-/team/6805
warsaw-eudc-/team/6861
warsaw-eudc-/team/6860
warsaw-eudc-/team/6749
warsaw-eudc-/team/6748
warsaw-eudc-/team/6735
warsaw-eudc-/team/6808
warsaw-eudc-/team/6807
warsaw-eudc-/team/6825
warsaw-eudc-/team/6824
warsaw-eudc-/team/6770
warsaw-eudc-/team/6726
warsaw-eudc-/team/6727
warsaw-eudc-/team/6728
warsaw-eudc-/team/6866
warsaw-eudc-/team/6873
warsaw-eudc-/team/6865
warsaw-eudc-/team/6864
warsaw-eudc-/team/6733
warsaw-eudc-/team/6734
warsaw-eudc-/team/6842
warsaw-eudc-/team/6841
warsaw-eudc-/team/6840
warsaw-eudc-/team/6827
warsaw-eudc-/team/6877
warsaw-eudc-/team/6912
warsaw-eudc-/team/6913
warsaw-eudc-/team/6914
warsaw-eudc-/team/6859
warsaw-eudc-/team/6858
warsaw-eudc-/team/6857
warsaw-eudc-/team/6652
warsaw-eudc-/team/6653
warsaw-eudc-/team/6654
warsaw-eudc-/team/6655
warsaw-eudc-/team/6764
warsaw-eudc-/team/6830
warsaw-eudc-/team/6709
warsaw-eudc-/team/6710
warsaw-eudc-/team/6756
warsaw-eudc-/team/6757
warsaw-eudc-/team/6559
warsaw-eudc-/team/6560
warsaw-eudc-/team/6561
warsaw-eudc-/team/6562
warsaw-eudc-/team/6814
warsaw-eudc-/team/6844
warsaw-eudc-/team/6843
warsaw-eudc-/team/6780
warsaw-eudc-/team/6779
warsaw-eudc-/team/6872
warsaw-eudc-/team/6871
warsaw-eudc-/team/6870
warsaw-eudc-/team/6766
warsaw-eudc-/team/6883
warsaw-eudc-/team/6817
warsaw-eudc-/team/6816
warsaw-eudc-/team/6869
warsaw-eudc-/team/6868
warsaw-eudc-/team/6867
warsaw-eudc-/team/6751
warsaw-eudc-/team/6753
warsaw-eudc-/team/6754
warsaw-eudc-/team/6738
warsaw-eudc-/team/6739
warsaw-eudc-/team/6740
warsaw-eudc-/team/6745
warsaw-eudc-/team/6750
warsaw-eudc-/team/6768
warsaw-eudc-/team/6806
warsaw-eudc-/team/6800
warsaw-eudc-/team/6793
warsaw-eudc-/team/6792
warsaw-eudc-/team/6791
warsaw-eudc-/team/6852
warsaw-eudc-/team/6746
warsaw-eudc-/team/6725
warsaw-eudc-/team/6875
warsaw-eudc-/team/6691
warsaw-eudc-/team/6783
warsaw-eudc-/team/6801
warsaw-eudc-/team/6797
warsaw-eudc-/team/6796
warsaw-eudc-/team/6790
warsaw-eudc-/team/6769
warsaw-eudc-/team/6837
warsaw-eudc-/team/6812
warsaw-eudc-/team/6692
warsaw-eudc-/team/6729
warsaw-eudc-/team/6730
warsaw-eudc-/team/6731
warsaw-eudc-/team/6851
warsaw-eudc-/team/6874
warsaw-eudc-/team/6813
warsaw-eudc-/team/6778
talinn-eudc-/team/16464
talinn-eudc-/team/16459
talinn-eudc-/team/17532
talinn-eudc-/team/16467
talinn-eudc-/team/16468
talinn-eudc-/team/17360
talinn-eudc-/team/16465
talinn-eudc-/team/16466
talinn-eudc-/team/17533
talinn-eudc-/team/17540
talinn-eudc-/team/17541
talinn-eudc-/team/17542
talinn-eudc-/team/16469
talinn-eudc-/team/16470
talinn-eudc-/team/16471
talinn-eudc-/team/17355
talinn-eudc-/team/17356
talinn-eudc-/team/17543
talinn-eudc-/team/17544
talinn-eudc-/team/17534
talinn-eudc-/team/17607
talinn-eudc-/team/17357
talinn-eudc-/team/17358
talinn-eudc-/team/17359
talinn-eudc-/team/16461
talinn-eudc-/team/16462
talinn-eudc-/team/16463
talinn-eudc-/team/17545
talinn-eudc-/team/17535
talinn-eudc-/team/17546
talinn-eudc-/team/17370
talinn-eudc-/team/17367
talinn-eudc-/team/17571
talinn-eudc-/team/17361
talinn-eudc-/team/17362
talinn-eudc-/team/17363
talinn-eudc-/team/17364
talinn-eudc-/team/17365
talinn-eudc-/team/17366
talinn-eudc-/team/17513
talinn-eudc-/team/17514
talinn-eudc-/team/17368
talinn-eudc-/team/17369
talinn-eudc-/team/17407
talinn-eudc-/team/17547
talinn-eudc-/team/17377
talinn-eudc-/team/17521
talinn-eudc-/team/16460
talinn-eudc-/team/17383
talinn-eudc-/team/17384
talinn-eudc-/team/17385
talinn-eudc-/team/17391
talinn-eudc-/team/17386
talinn-eudc-/team/17387
talinn-eudc-/team/17388
talinn-eudc-/team/17389
talinn-eudc-/team/17390
talinn-eudc-/team/17397
talinn-eudc-/team/17398
talinn-eudc-/team/17399
talinn-eudc-/team/17394
talinn-eudc-/team/17395
talinn-eudc-/team/17406
talinn-eudc-/team/17400
talinn-eudc-/team/17401
talinn-eudc-/team/17548
talinn-eudc-/team/17402
talinn-eudc-/team/17403
talinn-eudc-/team/17404
talinn-eudc-/team/17374
talinn-eudc-/team/17375
talinn-eudc-/team/17405
talinn-eudc-/team/17408
talinn-eudc-/team/17409
talinn-eudc-/team/17568
talinn-eudc-/team/17410
talinn-eudc-/team/17411
talinn-eudc-/team/17412
talinn-eudc-/team/17566
talinn-eudc-/team/17413
talinn-eudc-/team/17393
talinn-eudc-/team/17415
talinn-eudc-/team/17416
talinn-eudc-/team/17417
talinn-eudc-/team/17414
talinn-eudc-/team/17420
talinn-eudc-/team/17505
talinn-eudc-/team/17376
talinn-eudc-/team/17418
talinn-eudc-/team/17419
talinn-eudc-/team/17481
talinn-eudc-/team/17426
talinn-eudc-/team/17427
talinn-eudc-/team/17428
talinn-eudc-/team/17421
talinn-eudc-/team/17422
talinn-eudc-/team/17423
talinn-eudc-/team/17424
talinn-eudc-/team/17425
talinn-eudc-/team/17549
talinn-eudc-/team/17550
talinn-eudc-/team/17551
talinn-eudc-/team/17495
talinn-eudc-/team/17429
talinn-eudc-/team/17435
talinn-eudc-/team/17439
talinn-eudc-/team/17440
talinn-eudc-/team/17441
talinn-eudc-/team/17597
talinn-eudc-/team/17467
talinn-eudc-/team/17468
talinn-eudc-/team/17430
talinn-eudc-/team/17431
talinn-eudc-/team/17432
talinn-eudc-/team/17433
talinn-eudc-/team/17434
talinn-eudc-/team/17436
talinn-eudc-/team/18077
talinn-eudc-/team/17437
talinn-eudc-/team/17564
talinn-eudc-/team/17371
talinn-eudc-/team/17372
talinn-eudc-/team/17373
talinn-eudc-/team/17471
talinn-eudc-/team/17442
talinn-eudc-/team/17448
talinn-eudc-/team/17449
talinn-eudc-/team/17450
talinn-eudc-/team/17443
talinn-eudc-/team/17444
talinn-eudc-/team/17445
talinn-eudc-/team/17446
talinn-eudc-/team/17492
talinn-eudc-/team/17493
talinn-eudc-/team/17494
talinn-eudc-/team/17451
talinn-eudc-/team/17452
talinn-eudc-/team/17453
talinn-eudc-/team/17454
talinn-eudc-/team/17455
talinn-eudc-/team/17456
talinn-eudc-/team/17457
talinn-eudc-/team/17458
talinn-eudc-/team/17459
talinn-eudc-/team/17567
talinn-eudc-/team/17496
talinn-eudc-/team/17460
talinn-eudc-/team/17461
talinn-eudc-/team/17463
talinn-eudc-/team/17465
talinn-eudc-/team/17466
talinn-eudc-/team/17499
talinn-eudc-/team/17500
talinn-eudc-/team/17569
talinn-eudc-/team/17378
talinn-eudc-/team/17491
talinn-eudc-/team/17490
talinn-eudc-/team/17565
talinn-eudc-/team/17488
talinn-eudc-/team/17489
talinn-eudc-/team/17497
talinn-eudc-/team/17498
talinn-eudc-/team/17486
talinn-eudc-/team/17487
talinn-eudc-/team/17502
talinn-eudc-/team/17503
talinn-eudc-/team/17504
talinn-eudc-/team/17506
talinn-eudc-/team/17507
talinn-eudc-/team/17508
talinn-eudc-/team/17509
talinn-eudc-/team/17510
talinn-eudc-/team/17511
talinn-eudc-/team/17512
talinn-eudc-/team/17482
talinn-eudc-/team/17483
talinn-eudc-/team/17484
talinn-eudc-/team/17485
talinn-eudc-/team/17595
talinn-eudc-/team/17598
talinn-eudc-/team/17599
talinn-eudc-/team/17600
talinn-eudc-/team/17515
talinn-eudc-/team/17516
talinn-eudc-/team/17517
talinn-eudc-/team/17518
talinn-eudc-/team/17519
talinn-eudc-/team/17520
talinn-eudc-/team/17447
talinn-eudc-/team/17536
talinn-eudc-/team/17522
talinn-eudc-/team/17523
talinn-eudc-/team/17524
talinn-eudc-/team/17525
talinn-eudc-/team/17526
talinn-eudc-/team/17527
talinn-eudc-/team/17528
talinn-eudc-/team/17529
talinn-eudc-/team/17530
talinn-eudc-/team/17538
talinn-eudc-/team/17539
talinn-eudc-/team/17531
talinn-eudc-/team/17392
talinn-eudc-/team/17537
talinn-eudc-/team/17472
talinn-eudc-/team/17379
talinn-eudc-/team/17380
talinn-eudc-/team/17381
talinn-eudc-/team/17382
talinn-eudc-/team/17480
talinn-eudc-/team/17478
talinn-eudc-/team/17479
talinn-eudc-/team/17462
talinn-eudc-/team/17469
talinn-eudc-/team/17470
talinn-eudc-/team/17476
talinn-eudc-/team/17477
talinn-eudc-/team/17473
talinn-eudc-/team/17474
talinn-eudc-/team/17475

AT THIS POINT, IT IS NECESSARY TO LOG IN TO TABBIE.ORG

In [17]:
# !conda install lxml
# !conda install selenium -y

In [18]:
from requests import Session
from lxml import html
import urllib3
import os
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [59]:
driver = webdriver.Chrome()

In [60]:
driver.get('https://tabbie.org/site/login')

In [61]:
email_field = driver.find_element_by_css_selector('input#loginform-email')
email_field.send_keys('bandi.szakkoli@gmail.com')

psw_field = driver.find_element_by_css_selector('input#loginform-password')
psw_field.send_keys('emberarcu')

login_button = driver.find_element_by_css_selector('button.btn.btn-primary')
login_button.click()

In [62]:
driver.get("https://tabbie.org/" + "talinn-eudc-/team/17523")
html_source = driver.page_source
print(html_source)

<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="bDIuWmtYaFQmf2QNWhMPFl4DaREHCjwCFAdgDi41Gh4dY3c/KDYQeQ==">
    <title>UCC Philosoph B :: Tabbie2</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/605f5be6/css/site.css" rel="stylesheet">    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body class="">

<div class="flashes">
    </div>

<div class="wrap">
    <nav id="w3" class="navbar-inverse navbar-fixed-top navbar" role="navigation"><div class="container"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w3-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="/"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAmCAYAAAC29NkdAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAIGNIUk0AAG2YAABzjgAA2e0AAIGfAAB/mgAA2GMAADIXAAAdLVvevdMAABJUSURBVHjanFhndJVV2t3n7beX3JvkJjeFdEgRBEECKII0y6gjioroiGIZu4gNGXV0UNFRQR1AxGEsiIgiIIoDFqQKoSVAmkkIuTfl3uT2+tb5EWaUwfnxfWet58d7znrX2et5zrPPPptMyHThfw0FGqQwwdThRuTaGJRcSJDqJ0jLCj7clkC4OwZZJLh6pg31LQrKDHp0BGLobAZyyl044fPhQoFBdRXrPBaSy2qHcue7y3HR2JFa7cOLuenvtpc1WB1eMDQNaL+NgcH/Y0iihmRCAw0NHijoGVDg8ytwihocDjaruoSd1t6j/ZBt0sJPLTUcy8mhC2AgQAaAbA4/rwu8v1WUNPej7dsDSyxTVGsKAPm/AyQUIEtAJKJCDxWRBEE6SoFQIAWFnPvgAXSNLtJf8Lsrjddcdz0psBuZkaXVhnLkEMwa3V96133GP+dcxRWgTQEYDeAooD2GO2433+l7on9J7V0Nl0Y+mDYk7mc7WLP62wA17bcXCBnMVFwlcBew5dUV3Ljy4dR5LA133ij29+Ka1Bt1h6WHP/w6ax9x0DQkFZBUIJfG8/PCD/IFyL5ygekBeDUgQkNrRQ/hkPxgbXTRrmLeNeIPPQ+IImCdnJgd/LDkBdoSBtRzs8gYBPO54AAQhqCjQ8b9c9j5j71kfhWiBkgArAQQCd57K/DsEy9aV5EyhsYpafAvJ4WBfWLv1tXysufvsT/Ts1LcsLsptbtZjgUP6+JWIZ7ob9h68drsp2JP6+0JpLsB8yXNt3Kbc19QZAUUrf1GBol8LkCaoMcjoSaXyVnwrPVlEBWQNUAggJPGoht9szLLhIrrbzPd4d+Yaun2aA0JUa0Tg1Tyg7+nNqSv8Zf9taI3qz2YboqXytVKrlqivxwXc6/pHgmMgcPcowuKzYwiMzKtr/GVOGq6rvT9k9vCZknnYjGOKDpnMiYB1n4ZdWsse4unmcfikAKlBe2KpnX90BXpuvGJ0JwF0zLG52Vr1Z52eK0ZhJ50HRlZt1Zofmxv91bnUe9AygSQOMBKgEYDZh9a+ufVVBlWd4bCqwsXMtliiWVe470MD0S/KP74xPyym/j8+LkZLE1zZ01oNBAMaKjNseTpDgme7dvDjzYmxeAuMZikCes8skpYtuBqy4133Mg/lqAUPjePLqezKAouDts+D01XX+x7XDMAunZAMwKyDWAzgehjRX9QCvgZuvPD+vi+nonxbyrX2W5vvJeSgP5m027FzIDlDFDJ2WVmsvsTZx0+LUahwKQK6Rn+2y8bkKKR4lit5NJKqamolrYw66duy1/9xJuWf8CosvATQNGAbBoH30i99qruVMpyp/wYVQ9QMmlm67kGfYMQ5xLpI31uclQ3s+N0ugWwTPVdldwyYoXUZu8KaIlUxscVh4fnYvZX0Z6PLDR3FiUyaV755YsC6D4KgftDLwRfiMxXAoAhAhAGYLuhpudb5s573Pw23BSLHg2gCBBXEftBTr30UvBPtqtJTd5iy5/SZrldplSa7WeNbFyrUdvsH/cTd9Jp8JjUNMDmAPR5PaMDX1Z/2i6H6t8RjZdfwTBP5PB9H6UVFTT5pZvJJHv2f7JHBmhQ54vnBb72H02lB/dXOIDLBJKzzXMmbC7Y8df1/JG2TnlPa6vcPTAge/NsvPPHz+XXNxt6zHkPpZ+DRqWTRckRokGuTOcDVgc6+ucW1XTXj6l031b3iHFO6/VSHwAF6sCiS4rpn92hBqPg11ECM5rxTjyYiOwUKPaXDKp5Z3hQIiAmFbEXQh9pSSBzr+4A18616xSqL9xFecjnxg9HTWJu379T/EziIdgdpGBMLT8pg2GFdz8ML6TXhNf31iq1VDdAxQEiAbwASA9k3hzyZBVUfPrlft+Kkvt0flynSiB6N6G8Gar/mUb2eh0EBrKK2ZRw60E2srMENJQzhWYoKw+NAag+Glx5usB4wrCT+ZZerUszXFLSLPKoxLDeZeY/z7/aeN/tf+PfRFgGOAySqpvFJ7fGbzhc1T/GNlqpJZ0A0QOKEVCyAftmHDi9qniv8E74O2FoFEgQLbrNvd453zMr8L57i/SZO95VltKBEgBZxk3EfO1KLvFgLK1E9RQ9CJCcokAHKBCLao0/HNqk5EgWZazqTFtUQ7oKGNhBfXtJRpbx9mdNryMoAxENMBFgCI3OL8Rdr2/q/8awJ9EhxgD+NNUf61V/UjLQaN6L5oaHMt5lr5VnFsw8eUn8FKAf0ztNPeX4hoVnlmfJ0PnueU2vfO7jjyyoqzxZrKeHORXOXKEIszemPCtA82duEkkCk2AQWDywZGBu8jy2ESDiIN3ACwyd73johUXO11DOMjhFAYKKgWYp1HM03LDkaXlWr14g5i3qwuxj+qNsFx92xnj+gmyr6cKIo/qdhFT68djIEEIBSh9gmtb9u8B7zvrWa8f+gWd0pOK1Q4/ueL7sgbXfUisXmZilIEBKi/ghBmAGB5UQMFo3i8QlyYmBW+LziBdQbIPVo+2AabHljWq/y9+BPnz2XOLORJ/ys6xqXR1HGQvlp+St4WhPuaGMW/H3ywuzGH46x3MjLEaDm+41AYoVr+R4Gr/b9+VD/pk0TJwCjQWonPCFsWdLFhW8cWRDQgNco/tnf7Uu9ugi2YGtamBHvdbXPMqQM74uHt9tpRgw8r2xyT3XRN6Kh6DhEDagmxyxduN0pEeLp3aIX5wyh2zbFlo26kQLKTHoL8wSDHf/0WqrzXHluVdnf7/k0fjhx83c3XOyU9nZ0EJATAaoJEDHYdabh15xsMj59s7Y2yMvjd2rSgBnj/NsRZ9JN8V7ZfI4UDAiMOb4iHZHw76sPS86wksfk0sWDNVby6aq7WMTKgNy7W32CYxRLte16roc/QaqSDQbhyWsuXlixtT7jLsWNxp8P3UI80UkdYAiAaoKaCIABpIpFjdGVxrvoofevYz5/XKovrN1HbFgt6f1vctm7P+ofEnvtzwFeBaNuKfzH6Urqj7b22As91QRDgjsztnRs2DkTWZzNKtLX9UgQUIG1WmLSmKIGXIwI2cBGf14pmwpgY4AegFgGUAz4VUdV1gZ+HjY+2rde7dQ4+aCCgyS45nBSjbDLSicvV5tXLGUCywnCR6gxF9J8hjG5znnjtlnfedkp/+UU9WZkpuHbHjbnPX8ym8KNimjPFWKBzCNiF/aXK74X+l1PQCFgCUsbqCNc1ZRoTep4/qu3cd0oePgswBNBsQYgCCALgzTcoeO11mGPhPd/yToxJnO+c+tDUgK7jeMXtCnAuvVpg9AmQFNG5TvCgMoLCAV4vb+oZclDgqfHNvofq42Tlf+0SU8Xb3H1dbWyjTyRUDwAL8rs9uOURaHAaoMKApu1ozXj2f1VXS7Xo56uf6OW4yl85AGQJ0hbqIBigH5Aud+U2xaPZnOmlJAcvOB5JlLmwKIhCzNnd2kNW/eobRunctNeBgwDgp1XkHaFFYlXV/Ub2vyvbtbdy9aSo6+n23dnKtxmbHTQvP6Ib5jJReHJnbfecG1wUvrp5+QCG7rzRwLWuayweb3C8RLuwwUGqWkt0ZvH1OhFZQCiX9LVkCVUcRkVmwVfnq5TYy0zWTH3gKRHWRjhgMoGqApGB20+nqgaS3DeYUepX7n19i2+J+6nx57O3RswRqt4aVGm2/jz60BXKWrvudhfe6tkOIop7iiTYK03dMtBMMbileP/HTPgd1ecfuw7UXtlRnC6B4qndwsD2xgjDIHfzyFleyRV66yVM1AxAgwDMBSg+USnXiAn/zqPPnb+/YJB/ZlmVnTPtK56ajYv6dNCrV1abEuVodkjoHGX/rDT5py42R4hYsnxrLzPcGKOwz2mlKqeNwlQ6s+fZ/ftLEBSilANAhmyXVrW3nJ/O322YV37V/IWADTWO+0zwp7V14vVty3wtD7+jupyLsML6RQygN7Er3fH8o5eXiktfD8xkTjEa/YfyiJ/pMxrdez05NuziTANdJXta5MQKaATIZ2lXOWosp48dhLQ64rdgpdW5erkTVVNx0O9NsqrAwAngHiChBUAaOj8qn9dTvGHfG17xnBOsZBVTExxo0l2TSsV/rnxn8GCqvVSSdq+jad2lFybIsu/AkYgEkwBBQBtKCGRaY9M8ptP8j17fGAlwB8hsByVpdLGD/5BteR1tLjh3d+tiFr+q7x4pDxIBSQ1gE0DQQMuEDXO/1L8W9rfE0b12iTn3xI8gI0AVgArAaQLIJY5YTRX5z6bOWIjGvGARLq0m2HtVgf0jG9JrgSYFNA9NKmy6c1lU/zyvALsgqq0GVHfrYdFw7NQPB0yHfQdveD0g0dPtus05LumphIT2/vlKetepm/ftVymxNoifh/QDIXiKuAFAWUEMB2Qa9ZjdP0rpuCh158yhb7r4YngBgG8qvmPrzJTjWmxIgESsMyQXt3UnJIbXq7622iA6QIYKhKjuqmWoJMJKFaVIBSkzGoyRjkZAxCEOBSkhouLXQmbHlMitBIJ4FkOyDnlTptI6+e+Zbn0CLo+gb5kGiDdAMCyGlcZ5nwhNIUTWot674mVpzlFtApgM0uy28rHzfkYOjEpg8RWt9F0f5vc4bucR6tOOjrQivrAhJNlpOpJqMoqhqiaYDyRtP4d3RSQHTHshctzcd8oAFGBmgNYCggEQVsFzy+2KMDvkwdfx+U5WwEiKGGLayeSlMVnXtf+hPNAwkDoNgBLQNgnEBKAGqGX3b3cqPvb/OUvsefVPVPQoliitc5sqPTtk5nBXo+ci2T40AaQEoG6AJLCTjVDk61Q087IXoGFJNDyNLOn16rhAcf8ACAFMAUuDO0vh0/dLT+uOEmW+0jSLIAeIAyAEQANBucVlvZmsbvlgyrHH6VjjK4cOSLb4TWDdu4+vc2WHcvect1bOWqrZHEUYtlVMlGzbESYgT5SbvrE1t0J2MZqBxYW32nUJCGzkogmAkYRcn8tVsExTgKiV3rXuMueviRiDmfYhSA5gGNAGE94Jr07CsH66eM3qkc+vFie9lF9am+pg4t6IkKkf29SuDEjqB0Os0XgWy8ZkwRgZbwQxY5QCQAYwWFilGX2fmkodDrscLiApgoSizp8yb/mG9auydUzcILlmjQpMHMkGH//SymANkL5N68cBl99Qv3Sy0nU8m+40fYSPuRTPpUu2ngUMO2jXX/LB0GA+siWmtaS/QOADlmoMwEFAQzxkucIn59InRg0i1PLk8VXTEpoWU6ZC7HLnJ6yDZA19060LB0YtEW3WXf1arMSEDGV6xp9+VKdIJZiIL6VYcxwn9bMyog24Hojleey6h/Y2lWOt5G0UA8AegdgGx3lueVVl7U7Dvx49OOsoUzlOKpko4z22W+LCts1FNqFjzSqe693NrcFnaYLVVcW8Z4ARpnhLAXYHJKM6jh4y76sO7ki7XWsRsgJdDGR1tAh2DUGBD8AorhDfQ5r3mBIkj0iQOqvrhanPn0KpXPsARJSXk3n2+AmYVZiYL6i4Wyd2WYy/iJFwF9Z0SCBCAAtz4/Z7rRNPmT7x68e9h5N8+KSIPN9m/KiceAIcNve/r7o3f/PqkAOo7D0mTnMsR6EKSFs7DQthwGIkXODkIgKSqYISXVA1csfapTKXGJnJ1TCA0pCahZPIRIUjx5YN2zt+UWPwNZAagUQCmDYkMSYOINeV/2Hltpz68cn3RXFlGpX+2aBozuUvfP3s3rRnuD9qDRzi9JdS3kiB6gWGjkl6BdmSyIRs4NjoB0nG4x5wyfIWVWuNno4N40AFECbJkl5zcfWvpymSrkV3BlI6D9SmQgjQI+Z0hLbN9r9Vqo0zhmzhwpOdgosgAoApBwACaOdfSd3Pb3LYJrd7uaOGHhDWBZ/qygMzN00FT6nCBgkQiJEOBPMBfceq0U+4VyKAnQXFZdqv/QUV/zjg9mOcbMR5IGwAJEB0g8oOQgqRfzt3R/92pu5ex7NFuG0ZbyqebA0dM2/0915tY9jQV93zbu83ctb4jxJ1wDPaDEJJhk7KwglUXU//aoZRWGFGBa8H1Tt3tiOZcapDxFAWAGnP4T3SdfqsrdYJjy9QS+ZnqY+BS/mupNm+Kn/elksEeR978c2PU8zbiqKIPVfWGppy45EO0nESAUHHQtDsoVSLPDgIEOEJY7193S8er/toB1gBgH8OMriwtvmfiPVKSpl++o79Kh16vJAR8f6fTriYn+o2/nzVNqDhR3JKM/13nV0OhiTu0KSWAbHdBRJgT6eo6L8Z7jSSeDBGFBeBkpC0AxGugIfnU0znVY/zUAYkVwgkCncdwAAAAASUVORK5CYII=" alt="Tabbie2 Logo">&nbsp;Tabbie2</a></div><div id="w3-collapse" class="collapse navbar-collapse"><ul id="w4" class="navbar-nav menu navbar-right nav"><li><a href="/site/about">About</a></li>
<li><a href="/site/how-to">How-To</a></li>
<li><a href="/tournament/index"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Tournaments</a></li>
<li><a href="/motions"><span class="glyphicon glyphicon-list"></span>&nbsp;Motions</a></li>
<li><a href="/user/István.Széchenyi/"><span class="glyphicon glyphicon-user"></span>&nbsp;István's Profile</a></li>
<li><a href="/user/István.Széchenyi/history/"><span class="glyphicon glyphicon-tags"></span>&nbsp;István's History</a></li>
<li><a href="/site/logout" data-method="post"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li></ul></div></div></nav>    <div class="container">
        <div class="breadcrumbs hidden-xs">
            <ul class="breadcrumb"><li><a href="/">Home</a></li>
<li><a href="/talinn-eudc-/">Tallinn EUDC 2017</a></li>
<li class="active">Teams</li>
<li class="active">UCC Philosoph B</li>
</ul>        </div>
        <div class="team-view">

    <h1>UCC Philosoph B</h1>


    <table id="w0" class="table table-striped table-bordered detail-view"><tbody><tr><th>Speaker A</th><td>Clodagh Feehely</td></tr>
<tr><th>Speaker B</th><td>Chelsea Cunningham</td></tr>
<tr><th>Language Status</th><td>EPL, English as proficient language</td></tr>
<tr><th>Points</th><td>13</td></tr>
<tr><th>Speaks</th><td>1341</td></tr></tbody></table>
    <div id="w1" class="list-view"><div class="summary">Showing <b>1-9</b> of <b>9</b> items.</div>
<div data-key="26504"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #9</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">THS the creation and use of Lethal Autonomous Robots</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Panel:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11"><b>George Goddard</b>, Clara Rupf, Megan Nia Thomas, Can Haldenbilen</div>
		</div>
	</div>
	<table class="table debate-history">
		<tbody><tr>
			<th>Opening Government</th>
			<th>Opening Opposition</th>
			<th>Closing Government</th>
			<th>Closing Opposition</th>
		</tr>
		<tr>
							<td class=""><a href="/talinn-eudc-/team/17480">Warsaw A</a></td>
							<td class="us"><a href="/talinn-eudc-/team/17523">UCC Philosoph B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17411">Imperial B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17479">Warwick C</a></td>
					</tr>
					<tr>
									<td width="25%" class="">
						<b>2nd</b>
						(76 / 75)
					</td>
									<td width="25%" class="us">
						<b>1st</b>
						(75 / 77)
					</td>
									<td width="25%" class="">
						<b>4th</b>
						(72 / 72)
					</td>
									<td width="25%" class="">
						<b>3rd</b>
						(74 / 75)
					</td>
							</tr>
			</tbody></table>
</div>
</div>
<div data-key="26394"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #8</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">THBT LGBT groups should actively seek to include Side B Christians</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Panel:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11"><b>Ryan Patrick Thalari</b>, Ekaterina Bogma, Dawid Wojciech Bartkowiak</div>
		</div>
	</div>
	<table class="table debate-history">
		<tbody><tr>
			<th>Opening Government</th>
			<th>Opening Opposition</th>
			<th>Closing Government</th>
			<th>Closing Opposition</th>
		</tr>
		<tr>
							<td class=""><a href="/talinn-eudc-/team/16463">Bonaparte C</a></td>
							<td class=""><a href="/talinn-eudc-/team/17443">Nazarbayev A</a></td>
							<td class=""><a href="/talinn-eudc-/team/17568">IDC C</a></td>
							<td class="us"><a href="/talinn-eudc-/team/17523">UCC Philosoph B</a></td>
					</tr>
					<tr>
									<td width="25%" class="">
						<b>4th</b>
						(75 / 74)
					</td>
									<td width="25%" class="">
						<b>1st</b>
						(77 / 78)
					</td>
									<td width="25%" class="">
						<b>2nd</b>
						(77 / 77)
					</td>
									<td width="25%" class="us">
						<b>3rd</b>
						(76 / 77)
					</td>
							</tr>
			</tbody></table>
</div>
</div>
<div data-key="26292"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #7</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">THBT Western medical institutions should neither cooperate with, nor use the data produced by, non-Western medical institutions that do not meet Western standards on human clinical trials</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Panel:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11"><b>Imran Mateo</b>, Shira Labin, Can Aka (t)</div>
		</div>
	</div>
	<table class="table debate-history">
		<tbody><tr>
			<th>Opening Government</th>
			<th>Opening Opposition</th>
			<th>Closing Government</th>
			<th>Closing Opposition</th>
		</tr>
		<tr>
							<td class=""><a href="/talinn-eudc-/team/17521">Delft A</a></td>
							<td class=""><a href="/talinn-eudc-/team/17486">Strathclyde A</a></td>
							<td class="us"><a href="/talinn-eudc-/team/17523">UCC Philosoph B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17494">Nottingham C</a></td>
					</tr>
					<tr>
									<td width="25%" class="">
						<b>1st</b>
						(74 / 75)
					</td>
									<td width="25%" class="">
						<b>3rd</b>
						(73 / 73)
					</td>
									<td width="25%" class="us">
						<b>2nd</b>
						(74 / 74)
					</td>
									<td width="25%" class="">
						<b>4th</b>
						(71 / 72)
					</td>
							</tr>
			</tbody></table>
</div>
</div>
<div data-key="26181"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #6</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">THS universities treating students as customers (e.g. by allocating significant resources to improving students' lifestyles, and granting students influence over university decisions and the content and delivery of course curricula)
</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Panel:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11"><b>Elliot Porter</b>, Lennart Lokstein, Shani Yaron</div>
		</div>
	</div>
	<table class="table debate-history">
		<tbody><tr>
			<th>Opening Government</th>
			<th>Opening Opposition</th>
			<th>Closing Government</th>
			<th>Closing Opposition</th>
		</tr>
		<tr>
							<td class=""><a href="/talinn-eudc-/team/17381">Vienna C</a></td>
							<td class=""><a href="/talinn-eudc-/team/17511">TCD Phil B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17382">Vienna D</a></td>
							<td class="us"><a href="/talinn-eudc-/team/17523">UCC Philosoph B</a></td>
					</tr>
					<tr>
									<td width="25%" class="">
						<b>3rd</b>
						(71 / 74)
					</td>
									<td width="25%" class="">
						<b>2nd</b>
						(74 / 76)
					</td>
									<td width="25%" class="">
						<b>1st</b>
						(75 / 78)
					</td>
									<td width="25%" class="us">
						<b>4th</b>
						(71 / 71)
					</td>
							</tr>
			</tbody></table>
</div>
</div>
<div data-key="26071"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #5</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">TH, as Israel, supports the Jewish People's Intelligence Services Doctrine</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Panel:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11"><b>Tim Sharpe</b>, Nicola Harvey, Tzvetan Moev</div>
		</div>
	</div>
	<table class="table debate-history">
		<tbody><tr>
			<th>Opening Government</th>
			<th>Opening Opposition</th>
			<th>Closing Government</th>
			<th>Closing Opposition</th>
		</tr>
		<tr>
							<td class=""><a href="/talinn-eudc-/team/17407">Comillas A</a></td>
							<td class="us"><a href="/talinn-eudc-/team/17523">UCC Philosoph B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17403">Hebrew B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17404">Hebrew C</a></td>
					</tr>
					<tr>
									<td width="25%" class="">
						<b>4th</b>
						(72 / 72)
					</td>
									<td width="25%" class="us">
						<b>3rd</b>
						(74 / 73)
					</td>
									<td width="25%" class="">
						<b>2nd</b>
						(75 / 76)
					</td>
									<td width="25%" class="">
						<b>1st</b>
						(76 / 77)
					</td>
							</tr>
			</tbody></table>
</div>
</div>
<div data-key="25974"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #4</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">THBT states should significantly fund female-only tech companies.</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Panel:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11"><b>Robert  Barrie</b>, Shani Yaron, Ciara Berry, Avichai Korn (t)</div>
		</div>
	</div>
	<table class="table debate-history">
		<tbody><tr>
			<th>Opening Government</th>
			<th>Opening Opposition</th>
			<th>Closing Government</th>
			<th>Closing Opposition</th>
		</tr>
		<tr>
							<td class="us"><a href="/talinn-eudc-/team/17523">UCC Philosoph B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17419">Koc B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17369">Colman B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17471">NLU A</a></td>
					</tr>
					<tr>
									<td width="25%" class="us">
						<b>1st</b>
						(77 / 75)
					</td>
									<td width="25%" class="">
						<b>3rd</b>
						(74 / 74)
					</td>
									<td width="25%" class="">
						<b>2nd</b>
						(75 / 74)
					</td>
									<td width="25%" class="">
						<b>4th</b>
						(73 / 72)
					</td>
							</tr>
			</tbody></table>
</div>
</div>
<div data-key="25799"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #3</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">THR the rise of 'Sharing Culture'</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Panel:</div>
			<div class="col-xs-12 col-sm-10 col-md-11 col-lg-11"><b>Senna Debat</b>, Hannah Speed, Matea Bogdan, Lara Pintea (t)</div>
		</div>
	</div>
	<table class="table debate-history">
		<tbody><tr>
			<th>Opening Government</th>
			<th>Opening Opposition</th>
			<th>Closing Government</th>
			<th>Closing Opposition</th>
		</tr>
		<tr>
							<td class=""><a href="/talinn-eudc-/team/17357">Bogazici A</a></td>
							<td class=""><a href="/talinn-eudc-/team/17391">ELTE A</a></td>
							<td class="us"><a href="/talinn-eudc-/team/17523">UCC Philosoph B</a></td>
							<td class=""><a href="/talinn-eudc-/team/17568">IDC C</a></td>
					</tr>
					<tr>
									<td width="25%" class="">
						<b>2nd</b>
						(72 / 73)
					</td>
									<td width="25%" class="">
						<b>3rd</b>
						(71 / 71)
					</td>
									<td width="25%" class="us">
						<b>4th</b>
						(71 / 70)
					</td>
									<td width="25%" class="">
						<b>1st</b>
						(74 / 76)
					</td>
							</tr>
			</tbody></table>
</div>
</div>
<div data-key="25713"><div class="panel panel-default">
	<div class="panel-heading"><b>Round #2</b></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">Motion:</div>

In [68]:
writing_html_file_from_source("another_test.html", html_source)

another_test.html

In [70]:
writing_html_file_from_source("talinn-eudc-team-17523.html", html_source)

talinn-eudc-team-17523.html

In [71]:
writing_html_file_from_source("talinn-eudc-team-17523.txt", html_source)

talinn-eudc-team-17523.txt

Classes: teams, debaters, debates, speaker points, judges, rounds, motions, ESL status, institutions, tournaments

In [77]:
for team in teams:
    print("https://tabbie.org/" + team)
    driver.get("https://tabbie.org/" + team)
    html_source = driver.page_source
    filename = team.replace("/", "-") + ".html"
    file_ = open(filename, "w")
    file_.write(html_source)
    file_.close()
    print(filename)      #So, what is our filename? 
    #It is time to move the html file to a folder created for html files    
    move_2_project_folder(filename)

https://tabbie.org/Vienna-EUDC-2015/team/277
Vienna-EUDC-2015-team-277.html
https://tabbie.org/Vienna-EUDC-2015/team/464

UnicodeEncodeError: 'charmap' codec can't encode character '\u0107' in position 14542: character maps to <undefined>

In [55]:
    
def writing_html_file_from_selenium(filename, source):
    file_ = open(filename, "w")
    file_.write(source)
    file_.close()
    print(filename)      #So, what is our filename? 
    #It is time to move the html file to a folder created for html files    
    move_2_project_folder(filename)